/* CSS FOR ENTIRE PAGE */

body {
    /* background-image: url("../images/dubai.jpg"); */
    /* background-image: url("../images/2.jpg"); */
    /* background-image: url("../images/bwBG.jpg"); */
    background-image: url("../images/bw3.jpg");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Audiowide', cursive;
    color: white;
}

#vid {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1;
}


/* Navbar */

nav {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}


/* navbar_hidden */

#navbar_hidden {
    position: fixed;
    top: 0;
    width: 100vw;
    background:#521a4a;
    font-size: 18px;
    z-index: 1;
}

#navbar_hidden a {
    color: rgb(238, 37, 37);
}

#navbar_hidden ul {
    display: flex;
    justify-content: center;
}

#navbar_hidden li {
    padding-left: 3%;
    padding-right: 3%;
}


/* navbar_main */

.navbar_main {
    position: relative;
    font-size: 18px;
    top: 0;
    background: -webkit-linear-gradient( rgb(108, 61, 218, .4),#f00);
    transform: translate(10px, -10px);
    padding: 5px;
}

.navbar_main ul {
    display: flex;
    justify-content: center;
}

.navbar_main li {
    padding-left: 3%;
    padding-right: 3%;
}


/* Navbar Animation */

.slideOut {
    transform: translateY(-100%); 
    transition-duration: .5s;
}

.slideIn {
    transform: translateY(0%);
    transition-duration: 1s;
}


/* Name Triangle */

.arrow-down {
    width: 0; 
    height: 0; 
    margin: 0 auto;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 250px solid #f00;
    opacity: 80%;
}

.display-arrow {
    display: block;
}

.logo-parent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moveDown {
    0% {
        visibility: visible;
        transform: translateY(-100%);
        opacity: 0%;
    }
    65% {
        transform: translateY(0%);
        opacity: 80%;
    }
    66% {
        opacity: 80%;
        transform: translateX(0%);
    }
    69% {
        transform: translateX(30%);

    }
    80% {
        transform: translate(0%);
        opacity: 80%;
    }
    91% {
        transform: translate(0%);
    }
    95% {
        transform: translate(-10%)
    }
    100% {
        transform: translate(0%);
    }
}

#logo {
    animation-name: moveDown;
    animation-duration: 1.6s;
    animation-delay: 1s;
    visibility: hidden;
}

@keyframes from_left {
    from {
        transform: translate(-100%, -50%);
        opacity: 0%;
    }
    to {
        transform: translate(0%, -50%);
        opacity: 100%;
    }
}

#logo_h1 {
    transform: translate(0%,-50%);
    position: absolute;
    font-size: 60px;
    animation: from_left;
    animation-duration: 1s;
    animation-delay: 1s;
    visibility: hidden;
}

@keyframes from_right {
    from {
        transform: translate(200%, 100%);
        opacity: 0%;
    }
    to {
        transform: translate(0%, 100%);
        opacity: 100%;
    }
}

#logo_h2 {
    position: absolute;
    transform: translate(0%,100%);
    animation: textAppear;
    animation-duration: 1.5s;
    opacity: 100%;
    animation-delay: 1s;
    visibility: hidden;
}
  
  @keyframes textAppear {
    0% {
      transform: translate(1000px);
    }
    60% {
        color:gold;
        transform: translate(0%, 100%);
      }
    70% {
      color:gold;
      transform: translate(0%, 100%);
    }
    90% {
        transform: translate(5000px);
      }
    95% {
        transform: translate(-10%, 100%);
    }
    100% {
      columns: white;
      transform: translate(0%, 100%);
    }
  }

  @keyframes finisher {
    0% {
      color: orange  ;
    }
  
    70% {
      color:black;
    }
    100% {
      color:rgb(20, 48, 48);
    }
  }

#pow {
    position: absolute;
    transform: translate(100px, 100px);
    opacity: 0%;
    animation: powBang;
    animation-duration: 2.5s;
    animation-delay: 1s;
}

@keyframes powBang {
    0% {
        opacity: 0%;
    }
    59% {
        opacity: 0%;
        transform: translate(100px, 100px) scale(.2);
    }
    70% {
        opacity: 100%;
        transform: translate(150px, 200px) scale(.4) rotate(40deg);
    }

    85% {
        transform: translate(150px, 0px) scale(.6) rotate(-40deg);
        opacity: 0%;
    } 

}

#pow_about {
    position: absolute;
    transform: translate(100px, 100px);
    opacity: 0%;
}

.pow2start {
    animation: powBang2;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes powBang2 {
    0% {
        opacity: 0%;
    }
    45% {
        opacity: 0%;
        transform: translate(-300px, -600px) scale(.1);
    }
    70% {
        opacity: 100%;
        transform: translate(-500px, -600px) scale(.4) rotate(-30deg);
    }

    85% {
        transform: translate(150px, 0px) scale(.2) rotate(30deg);
        opacity: 0%;
    } 

}



/* About Module Main Containers*/

.section_size {
    padding-left: 10%;
    padding-right: 10%;
    height: 100px;
    display: flex;
}

.module_container {
    background-color: rgba(235,50,35,.850);
    /* padding-left: 3%;
    padding-right: 3%;
    border-radius: 4px; */
    height: 500px;
    width: 100%;
    /* font-family: 'Russo One', sans-serif; */
}

.module {
    /* background-color: azure; */
    background-color: rgba(32,53,223,.850);
    height: 76%;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
}

.module_container h3 {
    font-size: 20px;
    padding-left: 20px;
}

.module h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 30px;
    color:yellow;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
    font-family: 'Russo One', sans-serif;
} 


/* About Module Name div */

.title {
    border-bottom: 1px solid red;
}


/* NOTES */

/*
-   Gradient circle (roll onto screen, over shoot a tad,
    and come back hard
-   REMEBER TO CHANGE THE nav_animate.js VARIABLE FOR 
    WHAT THE MENU COMPARES TO SCROLL HEIGHT
*/

