/* CSS FOR ENTIRE PAGE */

body {
    background-image: url("../images/dubai.jpg");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Audiowide', cursive;
    color: white;
}

.main {

}


/* Navbar */

nav {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}


/* navbar_hidden */

#navbar_hidden {
    position: fixed;
    top: 0;
    width: 100vw;
    background:#521a4a;
    font-size: 18px;
}

#navbar_hidden a {
    color: rgb(238, 37, 37);
}

#navbar_hidden ul {
    display: flex;
    justify-content: center;
}

#navbar_hidden li {
    padding-left: 3%;
    padding-right: 3%;
}


/* navbar_main */

.navbar_main {
    position: relative;
    top: 5px;
    font-size: 18px;
    /* background: -webkit-linear-gradient(#eee, rgb(108, 61, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.navbar_main ul {
    display: flex;
    justify-content: center;
}

.navbar_main li {
    padding-left: 3%;
    padding-right: 3%;
}


/* Navbar Animation */

.slideOut {
    transform: translateY(-100%); 
    transition-duration: .5s;
}

.slideIn {
    transform: translateY(0%);
    transition-duration: 1s;
}


/* Name Triangle */

.arrow-down {
    width: 0; 
    height: 0; 
    margin: 0 auto;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 250px solid #f00;
    opacity: 80%;
}

.logo-parent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    65% {
        transform: translateY(0%);
        opacity: 80%;
    }
    66% {
        opacity: 80%;
        transform: translateX(0%);
    }
    69% {
        transform: translateX(30%);

    }
    80% {
        transform: translate(0%);
        opacity: 80%;
    }
    96% {
        transform: translate(0%);
    }
    98% {
        transform: translate(-10%)
    }
    100% {
        transform: translate(0%);
    }
}

#logo {
    animation-name: moveDown;
    animation-duration: 1.6s;
}

@keyframes from_left {
    from {
        transform: translate(-100%, -50%);
        opacity: 0%;
    }
    to {
        transform: translate(0%, -50%);
        opacity: 100%;
    }
}

#logo_h1 {
    transform: translate(0%,-50%);
    position: absolute;
    font-size: 60px;
    animation: from_left;
    animation-duration: 1s;
}

@keyframes from_right {
    from {
        transform: translate(200%, 100%);
        opacity: 0%;
    }
    to {
        transform: translate(0%, 100%);
        opacity: 100%;
    }
}

#logo_h2 {
    position: absolute;
    transform: translate(0%,100%);
    animation: textAppear;
    animation-duration: 1.5s;
    opacity: 100%;
}
  
  @keyframes textAppear {
    0% {
      transform: translate(1000px);
    }
    60% {
        color:gold;
        transform: translate(0%, 100%);
      }
    70% {
      color:gold;
      transform: translate(0%, 100%);
    }
    90% {
        transform: translate(5000px);
      }
    100% {
      columns: white;
    }
  }

  @keyframes finisher {
    0% {
      color: orange  ;
    }
  
    70% {
      color:black;
    }
    100% {
      color:rgb(20, 48, 48);
    }
  }

/* About Module */


/* NOTES */

/*
-   Gradient circle (roll onto screen, over shoot a tad,
    and come back hard
-   REMEBER TO CHANGE THE nav_animate.js VARIABLE FOR 
    WHAT THE MENU COMPARES TO SCROLL HEIGHT
*/

